.categories-page-list {
  margin-top: 120px;
  &-header {
    font-family: "Manrope-Bold";
    font-size: 48px;
    color: #171b24;
    margin-bottom: 20px;
    &-wrapper {
      display: flex;
      padding-left: 8px;
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }
}

.no-goods-message {
  margin-bottom: 80px;
  font-size: 21px;
}
